<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" :value="msg" @input="e=>msg=e.target.value"/>
        <!-- v-model 是 @input + :value 的一个语法糖 -->
        <input type="text" v-model="msg"/>
        {{msg}}

        <!-- select -->
        <select v-model="selectValue" multiple>
            <option value="0" disabled>请选择</option>
            <option v-for="(list,key) in lists" :value="list.id">{{list.value}}</option>
        </select>
        {{selectValue}}

        <!-- radio 可以根据v-model来进行分组-->
        男：<input type="radio" v-model="radioValue" value="男"/>
        女：<input type="radio" v-model="radioValue" value="女"/>
        {{radioValue}}

        <!-- 全选 多选 true/false -->
        <input type="checkbox" v-model="checkValue"/> {{checkValue}}
        <!-- 爱好 -->
        游泳：<input type="checkbox" v-model="checkValues" value="游泳"/>
        健身：<input type="checkbox" v-model="checkValues" value="健身"/>
        {{checkValues}}

        <!-- 修饰符 .number .trim -->
        <input type="text" v-model.number.trim="val"/> {{typeof val}}

        <!-- 修饰符 键盘修饰符 鼠标的修饰符 -->
        <input type="text" @keyup.ctrl.enter="fn"/>

        <!-- 属性绑定 ：v-bind: 绑定样式 class style 对象 数组{多个}  数组里可以放对象-->
        <div class="abc" :class="{b:true}">
            你好
        </div>
        <div class="abc" :class="['a','b','c']">
                你好
        </div>
        <div style="color: red" :style="{background:'blue'}">xxx</div>
        <div style="color: red" :style="[{background:'red',color:'blue'}]">xxx</div>

    </div>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <!-- 双向绑定 单向数据变化 视图更新 双向 视图更新也会影响数据变化 -->
    <script>
        // .number  .trim
        // 常用的.ctrl .esc .enter
        Vue.config.keyCodes = { // 配置一个键盘的config
            'f1':111
        };
        let vm = new Vue({
            data:{
                val:0,
                c:'d',
                msg:'hello',
                selectValue:[],
                radioValue:'男',
                checkValues:[],
                checkValue:true,
                lists:[
                    {value:'菜单1',id:1},
                    {value:'菜单2',id:2},
                    {value:'菜单3',id:3}]
            },
            methods:{
                fn(e,a){
                    //this.msg = e.target.value
                    alert(1);
                }
            }
        }).$mount('#app');
        //单元测试
    </script>
    <input type="text" id="input" oninput="a()"/>
    <script>
        function a(){
            console.log(input.value);
        }
    </script>
</body>
</html>